/sistema-de-lojas/nbproject/private/
/sistema-de-lojas/src/sistema/de/lojas/WebApplication1/nbproject/private/
/sistema-de-lojas/build/
/sistema-de-lojas/dist/
/sistema-de-lojas/src/sistema/de/lojas/WebApplication1/build/
/sistema-de-lojas-webapi/nbproject/private/
/sistema-de-lojas-webapi/build/